.center{
    text-align:center
}

#topSideBar{
    background-color:#AFCFCE;
    padding: 0.5rem;
}


.formatBottomSideBar{
    display:flex;  
    flex-direction:row;
    justify-content:space-around;
    align-items: center;
}

.separadorEmAlta{
    width: 90%; 
    color: green;
    
}

.formatBlockNews{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.fontNews {
    font-size: 1.5rem;
}

.formatDivNoticias{
    padding: 0.5rem;
    display:flex;
    flex-direction:row;
    justify-content:space-between

}

.divNoticePadding{
    margin: 0.8rem;
}

.divNoticeMargin{
    padding: 0.8rem;
}

.noticeBlock{
    background-color:white;


}

.boxColor{
    background-color:white;
    width: 20rem;
}